In [1]:
import pandas as pd
import numpy as np

https://data36.com/pandas-tutorial-1-basics-reading-data-files-dataframes-data-selection/

# Creating a DataFrame

In [2]:
df = pd.DataFrame(columns = ['s_no', 'item', 'price'], dtype=float)

df = df.append({'s_no': 1, 'item':'item 1', 'price':420, 'list': [0, 1]}, ignore_index=True)
df = df.append({'s_no': 2, 'item':'item 2', 'price':np.Inf, 'list': [0, 1]}, ignore_index=True)
df = df.append({'s_no': 3, 'item':'item 3', 'price':220, 'list': [0, 1]}, ignore_index=True)

print(df.dtypes)
print(df)
print(len(df))

s_no     float64
item      object
price    float64
list      object
dtype: object
   s_no    item  price    list
0   1.0  item 1  420.0  [0, 1]
1   2.0  item 2    inf  [0, 1]
2   3.0  item 3  220.0  [0, 1]
3

In [3]:
df.loc[1]

s_no        2.0
item     item 2
price       inf
list     [0, 1]
Name: 1, dtype: object

In [4]:
df_new = df.nsmallest(1, 'price')
print(df_new)
print(df_new['price'])
print("")

df_new = df.nlargest(1, 'price')
print(df_new)

   s_no    item  price    list
2   3.0  item 3  220.0  [0, 1]
2    220.0
Name: price, dtype: float64

   s_no    item  price    list
1   2.0  item 2    inf  [0, 1]

In [5]:
df_no_indices = df_new.to_string(index=False)
print(df_no_indices)

 s_no   item  price   list
  2.0 item 2    inf [0, 1]

In [6]:
value = df_new['price'].to_string(index=False).strip()
print(value)

if value == 'inf':
    print("GT")

inf
GT

In [7]:
# Insert a new column

df.insert(len(df.columns), "Time", [1]*len(df), True)
print(df)

   s_no    item  price    list  Time
0   1.0  item 1  420.0  [0, 1]     1
1   2.0  item 2    inf  [0, 1]     1
2   3.0  item 3  220.0  [0, 1]     1

In [8]:
# Delete rows

df = df.drop(range(2, len(df), 1))
print(df)

   s_no    item  price    list  Time
0   1.0  item 1  420.0  [0, 1]     1
1   2.0  item 2    inf  [0, 1]     1

In [9]:
# Change value of a row and a column

df.loc[len(df)-1, 'Time'] = 2
print(df)

   s_no    item  price    list  Time
0   1.0  item 1  420.0  [0, 1]     1
1   2.0  item 2    inf  [0, 1]     2

In [10]:
# Select a row by valua of a column and change the value of its column
# https://stackoverflow.com/a/17071908/7448860

df.loc[df['s_no'] == 2, 'Time'] = 3
print(df)

   s_no    item  price    list  Time
0   1.0  item 1  420.0  [0, 1]     1
1   2.0  item 2    inf  [0, 1]     3

# Creating a CSV

In [11]:
df.to_csv('my_csv.csv', index=False)

In [12]:
df = pd.read_csv('my_csv.csv', delimiter = ',')

In [13]:
df.sample(2)

   s_no    item  price    list  Time
1   2.0  item 2    inf  [0, 1]     3
0   1.0  item 1  420.0  [0, 1]     1

In [14]:
df_new = df[['s_no', 'price']]

for index, row in df.iterrows():
    print(index, row['price'])

0 420.0
1 inf